DATABASE_URL="postgresql://postgres:postgres@localhost:5432/draftoff?schema=public"
SERVER_PORT=4000
CORS_ORIGIN="http://localhost:3000"
NEXT_PUBLIC_SERVER_URL="http://localhost:4000"

SEED_CSV_PATH="../../sofifa_all_players.csv"
